attrs==25.3.0
Automat==25.4.16
constantly==23.10.4
gpgme==2.0.0b4
greenlet==3.2.2
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
M2Crypto==0.45.1
setuptools==80.4.0
SQLAlchemy==2.0.40
Twisted==24.11.0
typing_extensions==4.13.2
wheel==0.45.1
zope.component==6.0
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
